---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
---

<div class="divide-y divide-base-100">
  <div class="py-4">
    <Text tag="h3" variant="textLG" class="text-base-900 font-display">
      Phone
    </Text>
    <div class="space-y-1 mt-2">
      <Text tag="p" variant="textSM" class="text-base-600">
        Nairobi Office: (254) 718-735-565
      </Text>
      <Text tag="p" variant="textSM" class="text-base-600">
        Kigali Office: (555) 234-5678
      </Text>
      <Text tag="p" variant="textSM" class="text-base-600">
        Delaware Office: (555) 345-6789
      </Text>
    </div>
  </div>
  <div class="py-4">
    <Text tag="h3" variant="textLG" class="text-base-900 font-display">
      Email
    </Text>
    <div class="space-y-1 mt-2">
      <Text tag="p" variant="textSM" class="text-base-600">
        General Inquiries: hi@madavi.co
      </Text>
      <Text tag="p" variant="textSM" class="text-base-600">
        Support: support@madavi.co
      </Text>
      <Text tag="p" variant="textSM" class="text-base-600">
        Business Development: partnerships@madavi.co
      </Text>
    </div>
  </div>
  <div class="py-4">
    <Text tag="h3" variant="textLG" class="text-base-900 font-display">
      Main Office Address
    </Text>
    <Text tag="p" variant="textSM" class="text-base-600 mt-2">
      2595, 1007 N Orange St. 4th Floor ,<br /> Wilmington, DE, New Castle, <br />US, 19801

    </Text>
  </div>
  <div class="py-4">
    <Text tag="h3" variant="textLG" class="text-base-900 font-display">
      Business Hours
    </Text>
    <div class="space-y-1 mt-2">
      <Text tag="p" variant="textSM" class="text-base-600">
        Monday - Friday: 8:00 AM - 6:00 PM EST
      </Text>
      <Text tag="p" variant="textSM" class="text-base-600">
        Saturday: 9:00 AM - 2:00 PM EST
      </Text>
      <Text tag="p" variant="textSM" class="text-base-600">
        Sunday: Closed
      </Text>
    </div>
  </div>
</div>
