---
// Assets
import Shield from "@/components/assets/Shield.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import SingleWorkCard from "@/components/cases/SingleWorkCard.astro";
// Data
import { getOurWork } from "@/lib/data";
const allOurWork = await getOurWork();
---

<section>
  <Wrapper variant="standard" class="py-12">
    <div class="p-8 lg:p-12 bg-base-50">
      <div class="max-w-xl">
        <Kicker variant="default">Cases</Kicker>
        <Text
          tag="h2"
          variant="displayMD"
          class="text-base-900 text-balance font-display lg:mt-8"
        >
          Case studies
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="text-base-700 lg:text-pretty lg:col-span-2 mt-4"
        >
          See how we've helped businesses like yours achieve their financial
          goals and overcome accounting challenges.
        </Text>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-2">
        {
          allOurWork.length > 0
            ? allOurWork
                .slice(0, 2)
                .map((singleWork) => <SingleWorkCard post={singleWork} />)
            : null
        }
        <div
          class="bg-accent-400 p-8 flex flex-col h-full justify-between gap-8"
        >
          <div>
            <Shield class="h-8 text-white" />
            <Text
              tag="h3"
              variant="displaySM"
              class="text-base text-white font-display font-medium mt-24"
            >
              Real results, real businesses
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="text-white font-medium mt-2"
            >
              Discover how we've transformed financial challenges into success
              stories for businesses across industries. See the numbers that
              matter.
            </Text>
          </div>
          <Button
            size="xs"
            variant="muted"
            isLink={true}
            href="/our-work"
            class="w-fit"
          >
            Explore Success Stories
          </Button>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
