---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-12">
    <div class="max-w-2xl">
      <Kicker variant="default">pricing</Kicker>
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 text-balance font-medium tracking-tight mt-8 font-display"
      >
        Transparent Pricing for Accounting Services
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="text-base-600 lg:text-balance mt-4"
      >
        Choose the perfect accounting solution for your business. All packages
        include personalized service and expert financial guidance.
      </Text>
    </div>
  </Wrapper>
</section>
