---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry from "@/components/blog/BlogCard.astro";
// Content
import { getAllTags, getPostsByTag } from "@/lib/data";
export async function getStaticPaths() {
  const uniqueTags = await getAllTags();
  const paths = await Promise.all(
    uniqueTags.map(async (tag) => {
      const filteredPosts = await getPostsByTag(tag);
      return {
        params: { tag },
        props: { posts: filteredPosts },
      };
    })
  );
  return paths;
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="max-w-2xl">
        <Kicker variant="default">Tag category</Kicker>
        <Text
          tag="h1"
          variant="displayLG"
          class="text-base-900 text-balance font-medium tracking-tight mt-8 font-display capitalize"
        >
          {tag.replace(/-/g, " ")}
        </Text>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 mt-12 gap-2 p-8 lg:p-12 bg-base-50"
      >
        {
          posts.map((post, index) => (
            <BlogEntry post={post} index={index + 1} />
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
