---
// Assets
import { Image } from "astro:assets";
import talk from "@/images/assets/talk.png";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-12">
    <div
      class="grid md:grid-cols-2 lg:grid-cols-2 gap-8 p-8 lg:p-12 bg-base-50"
    >
      <Image
        src={talk}
        alt="Image"
        width={800}
        height={1440}
        loading="eager"
        decoding="async"
        class="size-full object-cover object-center aspect-square"
      />
      <div class="flex flex-col">
        <div><br/><br/>
  <Text
        tag="h2"
        variant="textLG"
        class="text-base-900 lg:text-pretty lg:col-span-2 lg:-mt-2 font-medium font-display"
      >
That's when it clicked. What if we didn't just help businesses grow—what if we helped them run better?
      </Text>
      <br/>
                <Kicker variant="default"></Kicker>

          <Text
            tag="p"
            variant="textBase"
            class="text-base-700 mt-2 text-pretty"
          >
In 2025, Madavi Agency became <b>Madavi Inc—</b>an AI adoption advisory firm focused on helping organizations streamline, automate, and scale using AI agents and intelligent workflows.
          </Text>
                    <Text
            tag="p"
            variant="textBase"
            class="text-base-700 mt-2 text-pretty"
          >
Today, we help businesses move into the AI Age with real, working systems—not just buzzwords. We build automations, deploy AI agents, and create agentic workflows that eliminate repetitive, error-prone tasks. 
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="text-base-700 mt-2 text-pretty"
          >
Our practical approach focuses on understanding your business, delivering seamless solutions, and staying involved to optimize and evolve them over time.          </Text>

          <br/><br/>
            <Text
        tag="h3"
        variant="textLG"
        class="text-base-900 lg:text-pretty lg:col-span-2 lg:-mt-2 font-medium font-display"
      >
We combine delivery, education, and long-term support so automation becomes an enduring capability, not a one-time project.
      </Text>
        </div>

      </div>
    </div>
  </Wrapper>
</section>
